.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
}
input[type="text"] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}
button[type="submit"] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background: tomato;
  font-size: 14px;
}
